@{
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
    var currentArea = ViewContext.RouteData.Values["Area"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>The Wandering Rose Ba Vi - Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <link rel="icon" href="/Admin-template/assets/img/kaiadmin/favicon.ico" type="image/x-icon" />

    <script src="/Admin-template/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                // Đường dẫn tuyệt đối cực kỳ quan trọng ở đây
                urls: ["/Admin-template/assets/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <link rel="stylesheet" href="/Admin-template/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Admin-template/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="/Admin-template/assets/css/kaiadmin.min.css" />
</head>

<body>
    <div class="wrapper">
        <partial name="_Sidebar" />

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <div class="logo-header" data-background-color="dark">
                        <a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })" class="logo">
                            <img src="/Admin-template/assets/img/kaiadmin/logo_light.svg" alt="navbar brand"
                                class="navbar-brand" height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                </div>

                <partial name="_Navbar" />
            </div>

            <div class="container">
                <div class="page-inner">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <div class="copyright">
                        2026, made with <i class="fa fa-heart heart text-danger"></i> by
                        <a href="#">The Wandering Rose Team</a>
                    </div>
                    <div>
                        Hệ thống quản lý Villa v1.0
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="/Admin-template/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="/Admin-template/assets/js/core/popper.min.js"></script>
    <script src="/Admin-template/assets/js/core/bootstrap.min.js"></script>

    <script src="/Admin-template/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <script src="/Admin-template/assets/js/kaiadmin.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>